/* Fuentes y colores utilizadas */

$font:'Kumbh Sans', sans-serif;
$buttons-color:#eb2226;
$font-color:#ffffff;
$font-light:300;
$font-regular:400;
$font-bold:700;
$icon-background:#f7f7f7;
$background-situation:#f7f7f7;
$info:#9d9d9d;

/* Dark Mode Colors */

$background-dark:#151421;
$text-dark:#fff;
$background-situation-dark:#100f19;
$icon-background-dark:#100f19;